{% extends 'ta/base.html' %}
{% load static %}
{% block title %}Bus Ticket Booking{% endblock %}
{% block content %}
	{% if messages %}
	{% for m in messages %}
	<div class="alert alert-{{m.tags}} alert-dismissible">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<strong>{{m}}</strong>
	</div>
	{% endfor %}
	{% endif %}
<style>
body, html {
  height: 100%;
  margin: 0;
}
.bg {

  background-image: url("{% static 'images/bus.jpg' %}");
    background-repeat: no-repeat;

}

	  	.border 
  	{
    	display: inline-block;
    	width: 90%;
    	height: 600px;
    	margin: 85px;
    	padding :20;
    	border-radius: 25px;
    	box-shadow:5px 10px 10px 10px grey;
  	}

</style>
<div class="bg">
<div class="container ml-3">
	<section>
	<div class="row mt-5">
		<div class="col-sm-10 col-md-8 col-lg-5 border mt-5">
			<div class="mb-3 text-center">
				<h3 class="text-blue">Update Bus</h3>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
				<table class="table table-borderless text-white" style="font-size: 12px">
					{% for result in d %}
					<tr>
						<td>
							{{result}}
						</td>
					</tr>
					{% endfor %}
				</table>	
					<input type="submit" name="Update" class="btn btn-primary mb-5 rounded"><br>
		</form>
				
			</div>
		</div>
	</div>
	</section>
</div>
{% endblock %}